<section class="flex place-content-between mb-5">
  <h1>Dispatch Table</h1>
  <button
    (click)="onAdd()"
    mat-mini-fab
    color="accent"
    aria-label="icon button with a add icon"
  >
    <mat-icon>add</mat-icon>
  </button>
</section>

<section>
  <app-dispatch-filter-form></app-dispatch-filter-form>
</section>

<section>
  <div class="mat-elevation-z8">
    <form [formGroup]="searchEntryForm">
      <mat-form-field class="w-full">
        <mat-label>Search entry</mat-label>
        <input
          (keyup)="onSearchEntry($event)"
          matInput
          placeholder="Ex. juan, ykv, calinan etc..."
          type="text"
          formControlName="postalCode"
        />
      </mat-form-field>
    </form>
    <div class="overflow-x-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        aria-label="Elements"
        class="min-w-full"
      >
        @for(column of columnsToDisplay; track column ){
        <ng-container matColumnDef="{{ column }}">
          <th mat-header-cell *matHeaderCellDef>{{ column.toUpperCase() }}</th>
          <td mat-cell *matCellDef="let element">
            {{
              column.includes("_date")
                ? (element[column] | date)
                : column.includes("odo_")
                ? (element[column] | number)
                : element[column]
            }}
          </td>
        </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>

    <mat-paginator
      #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
