<form [formGroup]="filterForm" novalidate (ngSubmit)="onApply()">
  <div class="sm:flex gap-5">
    <mat-form-field class="w-full sm:max-w-64">
      <mat-select placeholder="Select query" formControlName="filterValue">
        @for (state of filterOptions; track state) {
        <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
        }
      </mat-select>
      @if (filterForm.controls['filterValue'].hasError('required')) {
      <mat-error>Query selection is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <button
      [disabled]="filterForm.invalid"
      mat-raised-button
      color="primary"
      type="submit"
      class="w-full sm:max-w-32"
    >
      Apply
    </button>
  </div>
</form>
